__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
wandb/
*.log
*.fdb_latexmk
*.aux
*.fls
*.out
*.toc
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.aux
